Repository ink-inc/MagicMittelalterStory, pull requests merged in 2020-04, with the labels that each got.

#62 Goetter und mythen
  Autoren.txt
  Dokument/Dateien/Religion.tex
Labels: Religion Götter

#68 Aktualisierte Readmes
  README.md
  README_git_erklaerung.md
  README_git_guidelines.md
  README_git_setup.md
  README_guidelines.md
Labels: Allgemein

#67 Rollenbilder
  Dokument/Dateien/Kultur.tex
Labels: Kultur: Rollenbilder

#74 Klerus und gesellschaft
  Dokument/Dateien/Regierung.tex
  Dokument/Dateien/Religion.tex
Labels: Regierung, Religion Klerus

#90 Autor hinzufügen
  Autoren.txt
Labels: Allgemein

#83 Autor hinzufügen
  Autoren.txt
Labels: Allgemein
